<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="angoothape.wallet">

    <permission
        android:name="android.permission.INTERACT_ACROSS_USERS_FULL"
        android:protectionLevel="signature" />
    <permission android:name="android.permission.INTERACT_ACROSS_USERS" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".TotiWallet"
        android:allowBackup="false"
        android:debuggable="false"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:permissionGroup="definition"
        android:protectionLevel="signature"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">
        <activity android:name=".AEPSReceiptActivity"></activity>
        <activity android:name=".menumodules.CustomerServiceDetailsActivity" />
        <activity android:name=".CustomerTransactionHistoryActivity" />
        <activity android:name=".refund_module.RefundActivity" />
        <activity android:name=".UploadCashDetailsActivity" />
        <activity android:name=".FundingBankActivity" />
        <activity android:name=".RegisterFromAEPS" />
        <activity android:name=".MerchantLedgerActivity" />
        <activity android:name=".FundTransferToMerchantActivity" />
        <activity android:name=".insurance.InsuranceActivity" />
        <activity android:name=".BankDetailsActivity" />
        <activity android:name=".personal_loan.fragment.PLActivity" />
        <activity android:name=".AEPSActivity" />
        <activity android:name=".beneficairyRegistration.BeneficiaryRegistrationActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".VerifyOtpActivity" />
        <activity android:name=".ForgotPassword" />
        <activity android:name=".MerchantLoginActivity" />
        <activity android:name=".pancard.PanCardActivity" />
        <activity android:name=".ekyc.AdharBioEKYCActivity" />
        <activity android:name=".ekyc.EKYCMainActivity" />
        <activity
            android:name=".mywalletmoduleV.CreateWalletActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <service
            android:name=".OnClearFromRecentService"
            android:stopWithTask="false" />

        <activity
            android:name=".TransferToOwnWalletActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ImagePickerActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".aeps.activity.SelectDeviceActivity" />
        <activity
            android:name=".prepaid_cards_module.PrepaidCardsActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".beneficiary_list_module.BeneficiaryListActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".swift_transfer_module.SwiftTransferActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".LoyalityPointsActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".OffersActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".NotificationActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".EditProfileActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".AutoLogoutActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".MoneyTransferModuleV.TransactionReceiptActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".RepeatTransactionActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".RepeatWalletTransactionActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".menumodules.TermsActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".menumodules.PrivacyActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".menumodules.AboutActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ReferToFriendActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".home_module.WalletViaQRCodeActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".TransactionHistory.TransactionHistoryActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".PermissionActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".qrcodemodule.QrCodeActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".WalletTransferHistoryActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".menumodules.ChangePinActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".e_gift.SendEGiftMainActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".billpayment.BillPaymentMainActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".Mobile_Top_Up.MobileTopUpMainActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".mywalletmoduleV.MyWalletMainActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".MoneyTransferModuleV.MoneyTransferMainLayout"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".SendMoney.SendMoneyFifthActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".SendMoney.TransferMoneyActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".SendMoney.SendMoneyViaPaytmActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".SendMoney.SelectBaneficialActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".SendMoney.DonePaymentActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".SendMoney.SelectCardActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".KYC.ScanDocumentActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".KYC.DocumentActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".KYC.KYCMainActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".NewPayDoneActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".NewPayQRActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".NewAtmActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".menumodules.SettingsActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ScanQRCode3"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".PayviaQRCode1"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".PayviaQRCode2"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".wallet.OnlyBalanceMyWalletActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".login_signup_module.MainActivityLoginSignUp"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".SendMoney.ConvertRatesActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".e_gift.EGift1"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".SendMoney.SelectCardActivity_gift"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".NewLoginFScan"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".NewSplash"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".home_module.NewDashboardActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>